torch
torchvision
accelerate
git+https://github.com/huggingface/diffusers.git
numpy
opencv-python
pillow
PyYAML
scipy
setuptools
scikit-image
tqdm
transformers
fvcore
cloudpickle
omegaconf
pycocotools
av
gradio
peft
huggingface_hub
flask
flask-cors
